@charset 'pt-BR';
/*reset de valores*/
* {
    margin: 0px;
    padding: 0px;
}

/*header*/

header{
    background-color: #B57BA6;
    height: 150px; 
    text-align: center;
    
}



nav{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.nav1 li, .nav2 li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    width: 200px;
    margin-bottom: 10px;
}

.nav1 li a, .nav2 li a{
    text-decoration: none;
    color: white;
    font-size: 20px;  
}
.nav1 li a:hover, .nav2 li a:hover{
    background-color: #A79AB2;
    padding: 5px;
    border-radius: 10px;
    transition: .3s;
}

.balance{
    position: relative;
    top: 50px;
}

header h1{
    text-transform: uppercase;
    position: relative;
    top: 10px;
    text-shadow: 2px 5px 2px rgba(59, 56, 56, 0.658);
}


/*main*/

main{
    max-width: 80%;
    margin: auto;
    text-align: center;
    background-color: #73C1C6;
    margin-top: 50px;
    border-radius: 20px;
    padding: 30px;
}
.tabela{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;

}

#list-imc ul li, #list-resultado ul li{
    list-style-type: none;
    margin: 10px;
    font-size: 20px;
}
#list-imc, #list-resultado{
    width: 200px;
    display: inline-block;
}









