@charset 'pt-BR';
/*reset de valores*/
* {
    margin: 0px;
    padding: 0px;
}

/*header*/

header{
    background-color: blueviolet;
    position: relative;
    height: 150px;
}


.balance{
    position:relative ;
    left: 40%;
    top: 80px;
}

.menu2{
    position: absolute;
    right: 0;
    bottom: 0px;
    text-transform: uppercase;
}
.menu1{
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-transform: uppercase;
}
.nav1 li, .nav2 li{
    display: inline-block;
}
.nav1 li a, .nav2 li a{
    text-decoration: none;
    color: white;
    padding: 15px;
}

header h1{
    position: absolute;
    left: 20%;
    top: 20px;
    text-transform: uppercase;
}

li{
    list-style-type: none;
}

/*main*/

main{
    max-width: 80%;
    background-color: aqua;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    position: relative;
    border-radius: 20px;
    height: 300px;

}

#list-imc{
   position:absolute;
   left: 30px;
}
#list-resultado{
    position:absolute;
    right: 30px;
 }
 #valores{
  margin: auto;
  margin-top: 150px;
 }



